@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap");

.container {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-content: #224;
  --c-action: #0052f5;
  --saturation: 150%;
  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;

  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  width: 272px;
  height: 60px;
  padding: 7px 10px 9px;
  border-radius: 99em;
  background-color: color-mix(in srgb, var(--c-glass) 12%, transparent);
  backdrop-filter: blur(8px) url(#glass-liquid) saturate(var(--saturation));
  -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent),
    0px 6px 16px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
  transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1);
  font-family: "DM Sans", sans-serif;
  isolation: isolate;
}

.navItem {
  --c: var(--c-content);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 100%;
  border-radius: 99em;
  cursor: pointer;
  z-index: 2;
  transition: color 200ms ease;
  color: var(--c);
}

.navItem:hover {
  --c: var(--c-action);
}

.navItem.active {
  --c: var(--c-content);
  cursor: default;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform 200ms cubic-bezier(0.5, 0, 0, 1);
}

.navItem:hover .icon {
  transform: scale(1.15);
}

.navItem.active .icon {
  transform: scale(1);
}

.puddle {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 71px;
  height: calc(100% - 7px);
  border-radius: 99em;
  background-color: color-mix(in srgb, var(--c-glass) 36%, transparent);
  z-index: 1;
  box-shadow:
    inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
    inset 2px 1px 0px -1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent),
    inset -1px 2px 3px -1px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent),
    0px 3px 6px 0px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent);
  pointer-events: none;
}

.filter {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}
